body { background-color: #CCCCCC; }
.container { width: 90%; margin: auto; background-color: #666666; padding: 20px; text-align: center; }
.flex-container { display: flex; justify-content: space-around; background-color: #EEEEEE; padding: 20px; }
.box { width: 30%; padding: 10px; margin: 5px; }
.skills { background-color: #999999; }
.education { background-color: #DDDDDD; }
.experience { background-color: #BBBBBB; }
